#UsernameErrorPrompt {
    -fx-text-fill: red;
}

Button {
    -fx-background-radius: 0;
    -fx-background-color: lightgray;
    -fx-text-fill: black;
}

#ErrorPrompt {
    -fx-text-fill: red;
}

#mainPain {
    -fx-background-color: #EFEEE0;
}

#avatarButton {
    -fx-background-radius: 0;
    -fx-background-color: #2d2d2d;
    -fx-text-fill: white;
}

ChoiceBox {
    -fx-background-radius: 0;
    -fx-background-color: lightgray;
}


.choice-box .label {
    -fx-text-fill: black;
}

CheckBox {
    -fx-background-radius: 0;
    -fx-background-color: #EFEEE0;
}

#avatarImage {
    -fx-background-color: white;
}

TableView {
    -fx-background-color: #EFEEE0;
    -fx-border-color: black;
    -fx-border-width: 1;
}

TableColumn {
    -fx-background-color: lightgray;
}